{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-3 mb-2">
        <div class="col-12">
            <h4>Change Password</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-5">
            {% if password_changed %}
                {% if password_changed == 'Y' %}
                <div class="alert alert-success">Password changed</div>
                {% else %}
                <div class="alert alert-danger">Password not updated</div>
                {% endif %}
            {% endif %}
            <form action="{% url 'change_my_password' %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-12">
                        <label>Old Password</label>
                        <input class="form-control" name="password_old" type="password">
                    </div>
                    <div class="form-group col-12">
                        <label>New Password</label>
                        <input class="form-control" name="password_new" type="password">
                    </div>
                    <div class="form-group col-12">
                        <button class="btn btn-sm btn-primary">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}