{% extends 'base.html' %}

{% load extras %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
    {% if file_data  %}
        <h3 class="text-center mt-4">Upload Details</h3>
        {% for file in file_data %}
        <div class="container">
            <div class="row mt-3 mb-2">
                <div class="col-12">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>File Name</td>
                                <td>{{ file|get_item:'file-name'  }}</td>
                            </tr>
                            <tr>
                                <td>No of records inserted</td>
                                <td>{{ file|get_item:'insert_count'  }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <table class="table datasheets cell-border compact stripe">
            <thead>
                {% for header in file|get_item:'headers'%}
                    <tr>
                        {% for header_col in header %}
                            <th>{{header_col}}</th>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </thead>
            <tbody>
                {% for data_row in file|get_item:'data'%}
                    <tr>
                        {% for data_cell in data_row %}
                            <td>{{data_cell}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        {% endfor %}
    {% endif %}

    <style>
        thead th {
            border: 0px!important;
            outline: 0.15px solid white;
        }
        thead tr{
            background: #0078d7;
            color: white;
        }
        .table tr{
            font-size: 12px;
            padding: .45rem;
        }
        .table td{
            font-size: 12px;
            padding: .25rem;
        }
        .dataTables_scrollBody thead tr{
            height: 0px!important;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="{% static 'js/jquery.table.marge.js' %}"></script>
    <script>
        $(document).ready( function () {
            $('.datasheets').on( 'init.dt', function () {
                $(this).margetable({ type: 2, colindex: [0,1, 2, 3] });
                map = {}
                $(this).parents('.dataTables_scroll').find('.dataTables_scrollHead').find('tr:nth-child(1)').find('th').each(function(i, cell) {
                    curr = $(cell).text();
                    prev = $(cell).prev().text()
                    if(prev && curr == prev) {
                        $(cell).prev().attr('colspan', parseInt($(cell).prev().attr('colspan')) + 1)
                        $(cell).prev().css('text-align','center')
                        $(cell).remove()
                    }
                });
            }).DataTable({
                searching: false,
                paging: false,
                ordering: false,
                scrollX: 100
            });
        });
    </script>
{% endblock %}